<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LightMoxibustion.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>623AC8E985F5051CA2F648525ADAAE4C0BCB182E</string>
				<key>dateExpires</key>
				<string>2022/12/8</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>623AC8E985F5051CA2F648525ADAAE4C0BCB182E</string>
						<key>dateExpires</key>
						<string>2022/12/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MDJMU7FU97</string>
						<key>name</key>
						<string>Hunan Liangcha master Network Technology Co., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>623AC8E985F5051CA2F648525ADAAE4C0BCB182E</string>
						<key>dateExpires</key>
						<string>2022/12/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AxcAE_TabBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MDJMU7FU97</string>
						<key>name</key>
						<string>Hunan Liangcha master Network Technology Co., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>623AC8E985F5051CA2F648525ADAAE4C0BCB182E</string>
						<key>dateExpires</key>
						<string>2022/12/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MDJMU7FU97</string>
						<key>name</key>
						<string>Hunan Liangcha master Network Technology Co., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>623AC8E985F5051CA2F648525ADAAE4C0BCB182E</string>
						<key>dateExpires</key>
						<string>2022/12/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MDJMU7FU97</string>
						<key>name</key>
						<string>Hunan Liangcha master Network Technology Co., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>623AC8E985F5051CA2F648525ADAAE4C0BCB182E</string>
						<key>dateExpires</key>
						<string>2022/12/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MDJMU7FU97</string>
						<key>name</key>
						<string>Hunan Liangcha master Network Technology Co., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>3.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>623AC8E985F5051CA2F648525ADAAE4C0BCB182E</string>
						<key>dateExpires</key>
						<string>2022/12/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MDJMU7FU97</string>
						<key>name</key>
						<string>Hunan Liangcha master Network Technology Co., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>3.7.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>623AC8E985F5051CA2F648525ADAAE4C0BCB182E</string>
						<key>dateExpires</key>
						<string>2022/12/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MDJMU7FU97</string>
						<key>name</key>
						<string>Hunan Liangcha master Network Technology Co., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>623AC8E985F5051CA2F648525ADAAE4C0BCB182E</string>
						<key>dateExpires</key>
						<string>2022/12/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MDJMU7FU97</string>
						<key>name</key>
						<string>Hunan Liangcha master Network Technology Co., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>4.2.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>623AC8E985F5051CA2F648525ADAAE4C0BCB182E</string>
						<key>dateExpires</key>
						<string>2022/12/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MDJMU7FU97</string>
						<key>name</key>
						<string>Hunan Liangcha master Network Technology Co., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>623AC8E985F5051CA2F648525ADAAE4C0BCB182E</string>
						<key>dateExpires</key>
						<string>2022/12/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>UITextView_Placeholder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MDJMU7FU97</string>
						<key>name</key>
						<string>Hunan Liangcha master Network Technology Co., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>623AC8E985F5051CA2F648525ADAAE4C0BCB182E</string>
						<key>dateExpires</key>
						<string>2022/12/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YYCache.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MDJMU7FU97</string>
						<key>name</key>
						<string>Hunan Liangcha master Network Technology Co., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>623AC8E985F5051CA2F648525ADAAE4C0BCB182E</string>
						<key>dateExpires</key>
						<string>2022/12/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YYCategories.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MDJMU7FU97</string>
						<key>name</key>
						<string>Hunan Liangcha master Network Technology Co., LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.4</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>MDJMU7FU97.com.lx.LightMoxibustion</string>
				<key>com.apple.developer.team-identifier</key>
				<string>MDJMU7FU97</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>MDJMU7FU97.com.lx.LightMoxibustion</string>
				</array>
			</dict>
			<key>name</key>
			<string>LightMoxibustion.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>1d229008-3a9f-45f9-9df0-e31346a7442a</string>
				<key>dateExpires</key>
				<string>2022/12/8</string>
				<key>name</key>
				<string>blueHoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>MDJMU7FU97</string>
				<key>name</key>
				<string>Hunan Liangcha master Network Technology Co., LTD</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
